
#contactpage {
padding-top: 10px;
padding-bottom: 50px;
background-color: #faebd7;
}

.icons .text-center {
   padding-top:10px;
   color:maroon;
 }

.text-center .title {
  color:maroon;
}

.icons .text-center {
  padding-top: 20px;
}

.description {
   font-family: 'Lato', sans-serif;
}

.fixed-bottom {
  color:black;
  font-size:10px;
  text-align:right;
}

@media (max-width:250px){
  .icons .text-center {font-size:4vw;
  }
}

@media (max-width:500px){
  .icons .text-center {font-size:4vw;
  }
  .icons .title {
    color:maroon;
    font-size: 20px;
  }
}
