.contact-page{
  background-color: maroon;
}

.contact-page .container {
  padding-top: 20px;
}

.contact-page-title {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size:30px;
  font-weight:Bold;
  padding-top:15px;
}

.icons {
  margin:10px;
  padding-top:10px;
  color: white;
}

.icons-box:hover {
  font-size: 20px;
  transition : 0.2s;
  opacity:.8;
}

.contact-content{
  margin:10px;
  font-family: 'Lato', sans-serif;
  color: white;
}

.AA {
  padding:20px;
}

.AA .social-site-icons {
  margin: 20px;
}

.social-site-icons:hover{
  font-size:20px;
  transition : 0.2s;
  opacity:.8;
}

.bottomright {
  color:white;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 12px;
}


@media (max-width:500px) {
  .social-site-icons{
    font-size:10px;
    transition : 0.2s;
    opacity:.8;
  }
  .icons-box{
    font-size: 10px;
    transition : 0.2s;
    opacity:.8;
  }
  .social-site-icons:hover{
    font-size:12px;
    transition : 0.2s;
    opacity:.8;
  }
  .icons-box:hover{
    font-size: 11px;
    transition : 0.2s;
    opacity:.8;
  }
  .bottomright{
    font-size: 5px
  }
}

@media (max-width:700px) {
  .bottomright{
    font-size: 8px
  }
}
