.inner-video-section {
  padding-top: 20px;
  padding-bottom: 40px;
}

 .video-section-title {
   font-family: 'Lato', sans-serif;
   font-size: 30px;
   padding-top:25px;
   color: #800000;
   font-weight: bold;
 }

 @media (max-width:500px){
   .title1 {font-size:20px;
   }
 }

 @media (max-width:350px){
   .title1 {font-size:18px;
   }
 }
 @media (max-width:250px){
   .title1 {font-size:18px;
   }
 }
