.section-video {
    font-size: 20px;
    height: auto;
    padding-bottom:90px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -moz-background-size:cover;
  }
