.container-fluid.video-section {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #f5f2d0;
}
 .title1 {
   font-family: 'Lato', sans-serif;
   font-size: 30px;
   color: #800000;
 }

 @media (max-width:500px){
   .title1 {font-size:20px;
   }
 }

 @media (max-width:350px){
   .title1 {font-size:20px;
   }
 }
 @media (max-width:250px){
   .title1 {font-size:20px;
   }
 }
